@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alien+Block&family=Archivo+Black&family=BBH+Hegarty&family=BioRhyme+Expanded:wght@200;300;400;700;800&family=Bitcount+Grid+Double:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&family=Changa+One:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Science+Gothic:wght@100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto mono' , monospace;

}


body{

    min-height:100vh;
    background:#f4f4f4;

    display:flex;
    justify-content:center;
    align-items:center;

}



.container{

    width:750px;

    background:white;

    padding:35px;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,0.15);

}



h2{

    text-align:center;

    margin-bottom:30px;

    color:#222;

}



.achievement-box{

    border:1px solid #ddd;

    padding:20px;

    border-radius:12px;

    margin-bottom:20px;

}



input,
textarea{


    width:100%;

    padding:12px;

    margin-bottom:15px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:15px;

}



textarea{

    height:100px;

    resize:none;

}



input:focus,
textarea:focus{

    outline:none;

    border-color:#2563eb;

}



.buttons{

    display:flex;

    gap:15px;

}



button{

    padding:12px;

    border:none;

    border-radius:8px;

    color:white;

    cursor:pointer;

    font-size:16px;

}



.add{

    flex:1;

    background:#2563eb;

}



.save{

    flex:1;

    background:#16a34a;

}



.remove{

    width:100%;

    background:#dc2626;

}



.add:hover{

    background:#1d4ed8;

}



.save:hover{

    background:#15803d;

}



.remove:hover{

    background:#b91c1c;

}
