@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alien+Block&family=Archivo+Black&family=BBH+Hegarty&family=BioRhyme+Expanded:wght@200;300;400;700;800&family=Bitcount+Grid+Double:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&family=Changa+One:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Science+Gothic:wght@100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "roboto mono" , monospace;
}

body{

    background:#eef2f7;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.login-container{

    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;

}

.login-box{

    width:430px;

    background:#fff;

    padding:45px;

    border-radius:16px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.login-box h2{

    text-align:center;

    color:#1f2937;

    margin-bottom:10px;

    font-size:32px;

}

.login-box p{

    text-align:center;

    color:#6b7280;

    margin-bottom:30px;

}

.login-box input{

    width:100%;

    padding:14px;

    margin-bottom:18px;

    border:1px solid #d1d5db;

    border-radius:10px;

    outline:none;

    font-size:15px;

    transition:.25s;

}

.login-box input:focus{

    border-color:#1f1f1f;

    box-shadow:0 0 0 4px rgba(37,99,235,.12);

}

.login-box button{

    width:100%;

    padding:14px;

    border:none;

    background:#1f1f1f;

    color:white;

    font-size:16px;

    font-weight:600;

    border-radius:10px;

    cursor:pointer;

    transition:.25s;

}

.login-box button:hover{

    background:#1d4ed8;

}

.error{

    background:#fee2e2;

    color:#b91c1c;

    padding:12px;

    border-radius:8px;

    margin-bottom:20px;

    text-align:center;

}

.login-box a{

    color:#2563eb;

    text-decoration:none;

    font-weight:600;

}

.login-box a:hover{

    text-decoration:underline;

}