@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alien+Block&family=Archivo+Black&family=BBH+Hegarty&family=BioRhyme+Expanded:wght@200;300;400;700;800&family=Bitcount+Grid+Double:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&family=Changa+One:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Science+Gothic:wght@100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Roboto mono" , monospace;
}

body{

    background:#f4f4f4;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    font-family: 'Roboto mono' , monospace;

}

.container{

    width:700px;

    background:white;

    padding:35px;

    border-radius:12px;

    box-shadow:0 0 20px rgba(0,0,0,.15);

}

h2{

    text-align:center;

    margin-bottom:30px;

    color:#222;

}

.form-group{

    margin-bottom:18px;

}

label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

    color:#333;

}

input{

    width:100%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:15px;

    transition:.3s;

}

input:focus{

    outline:none;

    border-color:#2563eb;

    box-shadow:0 0 5px rgba(37,99,235,.3);

}

.buttons{

    margin-top:25px;

}

.save-btn{

    width:100%;

    padding:14px;

    background:#16a34a;

    color:white;

    border:none;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.save-btn:hover{

    background:#15803d;

}